/* -------------------------------------------------------------------------------------- header ----- */
.header {
    color: #000000;
}
.header a:link {
    color: #000000;
    text-decoration: none;
}
.header a:hover {
    color: #00ddcc !important;
}   
.header a:visited {
    color: #000000;
}


/* ---------------------------------------------------------------------------------------- link ----- */
a {
   outline: 0;
}